<div class="panel panel-default">
    <div class="panel-heading secondary-heading">
      <i class="fa fa-eye mr-10"></i>Details
    </div>
    
    <div class="panel-body">
      <div class="access-details-group">
        <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="thumbnail note mt-0">
              <div class="users-preview__photo">
                <div class="avatar-circle avatar-circle-sm">
                    <span class="initials"><i class="fa fa-users"></i><!-- AG --></span>
                </div>
              </div>
              <div class="users-preview__name" title="Admin Group">Admin Group</div>
              <div class="users-preview__role" title="Normal ">Key Management Identity</div>
              <div class="users-preview__login" title="Date Created"><span class="users-preview__logindate">Created: Nov 11, 2019</span></div>
            </div>
          </div>

          <div class="detail-pane-list-wrapper details-summary-list edit-collapse col-md-12">
            <hr class="mb-0">
            <div class="detail-pane-list">Identities contained<span>3</span></div>
            <div class="detail-pane-list">Identities for login<span>2</span></div>
            <div class="detail-pane-list">Identity storage<span>Card</span></div>
            <div class="detail-pane-list">LDAP verify<span><i class="fa fa-check"></i></span></div>
            <div class="detail-pane-list">LDAP name<span>ATX Group</span></div>
            <div class="detail-pane-list">Member auth to<span>Client, Host API, KMIP</span></div>
          </div>

          <div class="edit-collapse">

            <div class="col-md-12 col-sm-12 col-xs-12 permissions-preview-wrapper">

                            <a href="#user-preview__view-permissions" class="btn btn-default btn-block btn-sm collapsed" data-toggle="collapse">Enabled permissions<i class="fa fa-caret-down"></i></a>
                            
                            <div id="user-preview__view-permissions" class="collapse">
                              <ul class="list-group list-group-flush">

                                <li class="list-group-item expand-all-wrapper">
                      <a href="" class="expand-all-btn"><i class="fa fa-plus"></i>Expand All</a>
                  </li>

                  <li id="perm-0" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-0" aria-controls="permsub-0" aria-expanded="true"><i class="fa fa-caret-right"></i>View logs</a>
                    <ul id="permsub-0" aria-labelledby="perm-0" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-1" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-1" aria-controls="permsub-1" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage users</a>
                    <ul id="permsub-1" aria-labelledby="perm-1" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-2" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-2" aria-controls="permsub-2" aria-expanded="true"><i class="fa fa-caret-right"></i>Update system configuration</a>
                    <ul id="permsub-2" aria-labelledby="perm-2" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-4" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-4" aria-controls="permsub-4" aria-expanded="true"><i class="fa fa-caret-right"></i>Database restore</a>
                    <ul id="permsub-4" aria-labelledby="perm-4" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-5" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-5" aria-controls="permsub-5" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage hosts/networks</a>
                    <ul id="permsub-5" aria-labelledby="perm-5" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-7" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-7" aria-controls="permsub-7" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage templates</a>
                    <ul id="permsub-7" aria-labelledby="perm-7" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-8" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-8" aria-controls="permsub-8" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage keys</a>
                    <ul id="permsub-8" aria-labelledby="perm-8" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-9" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-9" aria-controls="permsub-9" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage encryption device groups</a>
                    <ul id="permsub-9" aria-labelledby="perm-9" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-10" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-10" aria-controls="permsub-10" aria-expanded="true"><i class="fa fa-caret-right"></i>View peers</a>
                    <ul id="permsub-10" aria-labelledby="perm-10" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-11" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-11" aria-controls="permsub-11" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage and print reports</a>
                    <ul id="permsub-11" aria-labelledby="perm-11" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-12" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-12" aria-controls="permsub-12" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage signing approvals</a>
                    <ul id="permsub-12" aria-labelledby="perm-12" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-13" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-13" aria-controls="permsub-13" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage X.509 v3 extension profiles</a>
                    <ul id="permsub-13" aria-labelledby="perm-13" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-14" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-14" aria-controls="permsub-14" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage X.509 DN profiles</a>
                    <ul id="permsub-14" aria-labelledby="perm-14" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-14" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-14" aria-controls="permsub-14" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage remote LDAP servers</a>
                    <ul id="permsub-14" aria-labelledby="perm-14" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-15" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-15" aria-controls="permsub-15" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage secret data</a>
                    <ul id="permsub-15" aria-labelledby="perm-15" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-16" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-16" aria-controls="permsub-16" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage KMIP templates</a>
                    <ul id="permsub-16" aria-labelledby="perm-16" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-17" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-17" aria-controls="permsub-17" aria-expanded="true"><i class="fa fa-caret-right"></i>Tokenization</a>
                    <ul id="permsub-17" aria-labelledby="perm-17" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-18" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-18" aria-controls="permsub-18" aria-expanded="true"><i class="fa fa-caret-right"></i>Manage Windows PKI templates</a>
                    <ul id="permsub-18" aria-labelledby="perm-18" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-19" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-19" aria-controls="permsub-19" aria-expanded="true"><i class="fa fa-caret-right"></i>Perform Windows enrollments</a>
                    <ul id="permsub-19" aria-labelledby="perm-19" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-20" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-20" aria-controls="permsub-20" aria-expanded="true"><i class="fa fa-caret-right"></i>Use the system SFTP server</a>
                    <ul id="permsub-20" aria-labelledby="perm-20" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-21" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-21" aria-controls="permsub-21" aria-expanded="true"><i class="fa fa-caret-right"></i>Perform cryptographic operations</a>
                    <ul id="permsub-21" aria-labelledby="perm-21" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                  <li id="perm-22" class="list-group-item">
                    <a data-toggle="collapse" data-target="#permsub-22" aria-controls="permsub-22" aria-expanded="true"><i class="fa fa-caret-right"></i>File encryption</a>
                    <ul id="permsub-22" aria-labelledby="perm-22" data-parent="#user-preview__view-permissions" class="collapse">
                      <li><i class="fa fa-caret-right"></i>[replace with actual values]</li>
                    </ul>
                  </li>

                </ul>
              </div>
            </div>

          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-collapse password-preview-wrapper">

            <a href="#password-preview-wrapper" class="btn btn-default btn-block btn-sm collapsed" data-toggle="collapse">Password policy<i class="fa fa-caret-down"></i></a>

            <div id="password-preview-wrapper" class="password-policy-preview-wrapper collapse">

                            <ul id="password-preview__view-permissions" class="list-group list-group-tight">

                <li class="list-group-item">
                  <span class="list-group-title">Length</span>
                  <code class="code-xs pull-right">Max: ∞</code>
                  <code class="code-xs pull-right mr-5">Min: 0</code>
                </li>

                <li class="list-group-item">
                  <span class="list-group-title">Letters</span>
                  <code class="code-xs pull-right">Max: ∞</code>
                  <code class="code-xs pull-right mr-5">Min: 0</code>
                </li>

                <li class="list-group-item">
                  <span class="list-group-title">Uppercase letters</span>
                  <code class="code-xs pull-right">Max: ∞</code>
                  <code class="code-xs pull-right mr-5">Min: 0</code>
                </li>

                <li class="list-group-item">
                  <span class="list-group-title">Lowercase letters</span>
                  <code class="code-xs pull-right">Max: ∞</code>
                  <code class="code-xs pull-right mr-5">Min: 0</code>
                </li>

                <li class="list-group-item">
                  <span class="list-group-title">Numbers</span>
                  <code class="code-xs pull-right">Max: ∞</code>
                  <code class="code-xs pull-right mr-5">Min: 0</code>
                </li>

                <li class="list-group-item">
                  <span class="list-group-title">Special characters</span>
                  <code class="code-xs pull-right">Max: ∞</code>
                  <code class="code-xs pull-right mr-5">Min: 0</code>
                </li>
                
              </ul>
              
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-collapse">
            <div class="oauth-policy-preview-wrapper">
                            <!-- <a href="#oauth-preview__view-permissions" class="dropdown-list-label" data-toggle="collapse">Oauth<i class="fa fa-caret-down pull-right"></i></a> -->
                            <a href="#oauth-preview__view-permissions" class="btn btn-default btn-block btn-sm collapsed" data-toggle="collapse">Oauth<i class="fa fa-caret-down"></i></a>

                            <div id="oauth-preview__view-permissions" class="collapse">
                              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i class="fa fa-exclamation-triangle"></i>Not enabled</li>
                </ul>
              </div>

            </div>
          </div>

        </div>  <!-- end of row -->
      </div> <!-- end of  access-details-group-->

    </div> <!-- end of row-->
  </div>