.main-header .sidebar-toggle:before {
    content: "\f068";
}

.logo {
    background-image: url(/assets/img/logo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 52px;
}

.list-unstyled {
    li {
        display: block;
    }
}

.product-name-dropdown .dropdown-toggle, .user-menu .dropdown-toggle {
    height: 52px;
    background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(241,241,241,1) 35%, rgba(238,238,238,1) 100%);
    padding: 5px 15px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    color: #888 !important;
    border-right: 1px solid #d2d6de;
    border-left: 1px solid #d2d6de;
    &:hover {
        background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(241,241,241,1) 35%, rgba(238,238,238,1) 100%) !important;
    }
}

.new-device-name {
    .fx-device-name {
        font-size: 12px;
    }
    .device-caret {
        width: 30px;
        text-align: right;
        margin-top: 10px;
        i {
            color: #888;
            font-size: 14px;
        }
    }
}

.user-menu {
    width: 180px;
    .dropdown-toggle {
    }
}

.header-user-icon:before {
    content: "\f0c0";
    font-family: "fontawesome";
    color: #fff;
    font-size: 20px;
}

.header-user-icon {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: #3c8dbc;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
}

.user-menu-caret {
    display: inline-block;
}

.account-list {
    .account-list-1 {
        text-transform: uppercase;
    }
}

