<div class="row">
    <div class="col-sm-12">
        <div class="panel-group identity-groups-list" id="groupAccordion1" role="tablist">
        <!-- <div class="col-sm-12">
            <div class="pagination-wrapper">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm btn-dead">
                    <span *ngIf="identityCount <= pageCount">{{identityCount}}</span> 
                    <span *ngIf="identityCount > pageCount">{{pageCount}}</span> 
                    &nbsp;of {{identityCount}} Shown</button>
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li>
                        <a (click)="emitUpdatePageCount(20)" [ngClass]="{'dropdown-active': pageCount == 20}">20 per page</a>
                    </li>
                    <li>
                        <a (click)="emitUpdatePageCount(50)" [ngClass]="{'dropdown-active': pageCount == 50}">50 per page</a>
                    </li>
                    <li>
                        <a (click)="emitUpdatePageCount(100)" [ngClass]="{'dropdown-active': pageCount == 100}">100 per page</a>
                    </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm">
                            <li (click)="emitUpdateCurrentPage(currentPage - 1)" [ngClass]="{'disabled': currentPage == 1}">
                            <span>
                                <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                            </span>
                            </li>
                            <li *ngFor="let page of pageArray; let i = index;" 
                            [ngClass]="{'active': page == currentPage, 'disabled': page === '...'}"
                            (click)="emitUpdateCurrentPage(page)">
                            <span>{{page}}</span>
                            </li>
                            <li (click)="emitUpdateCurrentPage(currentPage + 1)" [ngClass]="{'disabled': currentPage == totalPages}">
                            <span>
                                <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                            </span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div> -->
            <div *ngFor="let group of identityGroups">
                <div class="panel panel-default">
                    <div class="panel-heading clickable collapsed"data-toggle="collapse" data-target="#groupParent1" data-parent="#groupAccordion1">
                        <div class="avatar-circle avatar-circle-sm"><i class="fas" [ngClass]="{'fa-users': !group.parentGroup, 'fa-user-friends': group.parentGroup}"></i></div>&nbsp;
                        <div class="group-title">
                            <h6>{{group.name}}&nbsp;<span>({{group.numUsers}})</span></h6>
                            <div>CREATED: {{group.created | date : 'longDate'}}</div>
                        </div>
                        <div class="panel-heading-addons pull-right">
                            <span class="code-info code-info-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" [attr.data-content]="getLoginsRequired(group.loginsRequired)">
                                <i class="fas fa-check-double"></i>
                            </span>
                            <span *ngIf="group.ldapVerify" class="code-info code-info-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="LDAP enabled">
                                <i class="fa fa-users"></i>
                            </span>
                            <span *ngIf="!group.ldapVerify" class="code-info code-info-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="LDAP disabled">
                                <i class="fa fa-users"></i>
                            </span>
                            <span *ngIf="group.otpEnabled" class="code-info code-info-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="One-time password enabled">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <span *ngIf="!group.otpEnabled" class="code-info code-info-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="One-time password disabled">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <span *ngIf="group.active" class="code-info code-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Status: Active">Active</span>
                            <span *ngIf="!group.active" class="code-info code-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Status: Inactive">Inactive</span>
                        </div>
                    </div>
                    <div class="panel-heading-buttons">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-default panel-heading-view-btn" type="button"><i class="fa fa-eye"></i></button>
                            <button class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div *ngFor="let child of group.childGroups" class="panel panel-default child-group">
                    <div class="panel-heading clickable collapsed"data-toggle="collapse" data-target="#groupParent1" data-parent="#groupAccordion1">
                        <div class="avatar-circle avatar-circle-sm"><i class="fas" [ngClass]="{'fa-users': !group.parentGroup, 'fa-user-friends': group.parentGroup}"></i></div>&nbsp;
                        <div class="group-title">
                            <h6>{{child.name}}&nbsp;<span>({{child.numUsers}})</span></h6>
                            <div>CREATED: {{child.created | date : 'longDate'}}</div>
                        </div>
                        <div class="panel-heading-addons pull-right">
                                <span class="code-info code-info-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" [attr.data-content]="getLoginsRequired(child.loginsRequired)">
                                    <i class="fas fa-check-double"></i>
                                </span>
                                <span *ngIf="child.ldapVerify" class="code-info code-info-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="LDAP enabled">
                                    <i class="fa fa-users"></i>
                                </span>
                                <span *ngIf="!child.ldapVerify" class="code-info code-info-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="LDAP disabled">
                                    <i class="fa fa-users"></i>
                                </span>
                                <span *ngIf="child.otpEnabled" class="code-info code-info-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="One-time password enabled">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <span *ngIf="!child.otpEnabled" class="code-info code-info-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="One-time password disabled">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <span *ngIf="child.active" class="code-info code-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Status: Active">Active</span>
                                <span *ngIf="!child.active" class="code-info code-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Status: Inactive">Inactive</span>
                        </div>
                    </div>
                    <div class="panel-heading-buttons">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-default panel-heading-view-btn" type="button"><i class="fa fa-eye"></i></button>
                            <button class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      