.identity-groups-list {
    .panel {
        display: flex;
        flex-wrap: wrap;
        border: none;
        margin-top: 20px;
        .panel-heading-buttons {
            width: 60px;
            .btn-group {
                height: 100%;
            }
            button {
                height: 100%;
                min-height: 60px;
                color: #888;
                border: 1px solid #cccccc;
                border-bottom-color: #b3b3b3;
                background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(241,241,241,1) 35%, rgba(238,238,238,1) 100%);
                border-radius: 0px;
            }
        }
        .panel-heading {
            cursor: pointer;
            width: calc(100% - 60px);
            border: 1px solid #ddd;
            border-right: none;
            .avatar-circle, .panel-heading-addons, .group-title {
                display: inline-block;
            }
            .group-title {
                vertical-align: middle;
                h6 {
                    font-size: 16px;
                    font-weight: 500;
                    color: #768599;
                    margin: 5px 0px 0px 0px;
                    span {
                        color: #3c8dbc;
                        font-size: 10px;
                    }
                }
                div {
                    color: #888;
                    font-size: 10px;
                }
            }
            .panel-heading-addons {
                margin: 10px 0px 0px 0px;
            }
            span.code-info {
                font-size: 13px;
                padding: 3px 10px;
                border-radius: 3px;
                margin: 3px; 
                background-color: #fff;
                border: 1px solid #ddd;
            }
            .code-info-success {
                color: #769976;
                i {
                    color: #769976;
                }
            }
            .code-info-danger {
                color: #997676;
                i {
                    color: #997676;
                }
            }
            span.code-danger {
                color: #997676;
                background-color: #f5ecec;
                border: 1px solid #dfc6c6;
            }
            span.code-success {
                color: #769976;
                border-color: #c6dfca;
                background-color: #ecf5ec;
            }
        }
    }
    .child-group {
        margin: 0px 0px 0px 15px;
        .panel-heading {
            border-radius: 0px;
        }
    }
}