
.login-section {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/login-screen-bg.jpg');
    background-size: cover;
}

.card {
    margin-top: 30px;
    font-family: Roboto, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 35px;
}

.card-header {
    height: 40px;
    text-align: left;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    background-size:auto;
    border-bottom-color:rgb(221, 221, 221);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-color:rgb(221, 221, 221);
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    box-sizing:border-box;
    border-left-color:rgb(221, 221, 221);
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:rgb(221, 221, 221);
    border-right-style:solid;
    border-right-width:1px;

    p {
        font-size: 16px;
        font-weight: 500;
        color: #768599;
        padding-left: 5px;

        small {
            font-size: 10px;
        }
    }

    span {

        img {
            width: 30px;
            height: 29px;
            opacity: 0.6;
            margin-top: -5px;
        }
    }
}
.card-body {
    background-color: #F2F2F3;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;

    border-bottom-color:rgb(221, 221, 221);
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(221, 221, 221);
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:rgb(221, 221, 221);
    border-right-style:solid;
    border-right-width:1px;
    border-top-color:rgb(221, 221, 221);
    box-sizing:border-box;

    p {
        color:rgb(151, 160, 179);
        color: rgb(118, 133, 153);
        font-size: 13px;
        font-weight: 400;
        margin-left: -15px;
    }

    .form-wrap {
        margin-left: 0;
        padding: 0;
        font-size: 10px;

        input {
            border-radius: 0px;
            font-size: 13px;
            height: 35px;

            &:focus {
                box-shadow: none;
                border: 0.5px solid #3c8dbc;
                color: #3c8dbc;
                transition: ease-in-out .15s,ease-in-out .15s;
            }

            &::placeholder {
                color: #999999;
            }
            &:ms-input-placeholder {
                color: #999999;
            }
            &::-ms-input-placeholder {
                color: #999999;
            }
        }

        .username {
            border-top-left-radius: 4px;
        }

        .password {
            border-bottom-left-radius: 4px;
        }
    }

    .btn-light {
        height: 70px;
        width: 134.5px;
        margin-left: 0;
        padding: 0;
        background-color: #f1f3f5;
        border-bottom-color: #b3b3b3;
        color:rgb(136, 136, 136);
        font-size: 13px;

        border-bottom-color:rgb(179, 179, 179);
        border-bottom-left-radius:0px;
        border-bottom-right-radius:4px;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-image-outset:0px;
        border-image-repeat:stretch;
        border-image-slice:100%;
        border-image-source:none;
        border-image-width:1;
        border-left-color:rgb(136, 136, 136);
        border-left-style:none;
        border-left-width:0px;
        border-right-color:rgb(204, 204, 204);
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:rgb(204, 204, 204);
        border-top-left-radius:0px;
        border-top-right-radius:4px;
        border-top-style:solid;
        border-top-width:1px;
        box-shadow:rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        box-sizing:border-box;
        border-left: 0px;
        border-radius: 0px 4px 4px 0px;
        background: linear-gradient(rgb(249, 249, 249) 0%, rgb(241, 241, 241) 35%, rgb(230, 230, 230) 100%);
        box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px;
        text-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204);
        border-image: initial;
        user-select: none;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &:hover {
            color: black;
            box-shadow: none;
            box-shadow: inset 0 0 1px #000000;
            transition: ease-in-out .2s,ease-in-out .10s;
        }
        &:active {
            outline: 0;
            box-shadow: inset 0 0 2px #000000;
        }
    }
}



/* ----------- Mobile Devices ----------- */
/* Portrait */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
        .form-wrap {
            input {
                width: 85%;
            }
        }
        #mobile-btn {
            height: 40px;
            width: 85%;
        }
}

/* Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 850px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) { 
        .login-section{
            height: 600px;
        }
        .form-wrap {
            input {
                width: 85%;
            }
        }
        #mobile-btn {
            height: 40px;
            width: 85%;
        }
}


/* Ipad Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .form-wrap {
        input {
            width: 90%;
        }
    }
    #mobile-btn {
        height: 40px;
        width: 90%;
    }
}

/* Ipad Landscape */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) { 
        .form-wrap {
            input {
                width: 120%;
            }
        }
        #mobile-btn {
            height: 40px;
            width: 90%;
        }
}