.identity-manage-panel {
    .tab-pane {
        position: relative;
    }

    .panel-btns {
        position: absolute;
        right: 0;
        top: -40px;
        button > i {
            padding-right: 10px;
        }
        .create-btn {
            margin-left: 15px;
        }
    }

}