<section class="content">
  <div class="row">
    <div [ngClass]="showFullscreen ? 'col-lg-8 col-md-7 col-sm-12 col-xs-12' : 'col-md-12 col-sm-12 col-xs-12'" >
      <div class="panel panel-default">
        <div class="panel-heading primary-heading">
          <span>
            Identity Management
          </span>
          
          <button (click)="toggleFullscreen()" id="close-btn" [ngClass]="showFullscreen? '' : 'btn btn-primary btn-sm close-btn' ">
            <i [ngClass]="showFullscreen ? 'fa fa-expand' : 'fa fa-compress'"></i>
            <span *ngIf="!showFullscreen" class="btn-close-wording">Close fullscreen</span>
          </button>
        </div>
        <div class="panel-toolbar">
          <ul class="nav nav-tabs" role="tablist">
              <li class="active nav-item btn-group" role="presentation" (click)="resetForms()">
                  <a id="idGroupBtn" href="#groups" aria-controls="groups" role="tab" data-toggle="tab"
                      aria-expanded="false" class="">Identity Groups<span class="label blue-label">(0)</span></a>
              </li>
              <li class="nav-item btn-group" role="presentation" (click)="resetForms()">
                  <a id="idIdentityBtn" href="#allusers" aria-controls="allusers" role="tab" data-toggle="tab"
                  aria-expanded="false" class="">Identities<span style="display: inline-block; min-width: 27px;" class="label blue-label">{{(identityCount$ | async) || '(0)'}}</span></a>
              </li>
          </ul>
          
        </div>
        <div class="panel-body identity-manage-panel">
          <div class="tab-content">
            <div class="tab-pane active" id="groups">
              
              <div class="panel-btns">
                <input (keyup)="searchTerm($event.target.value)" type="text" class="idty-search" placeholder="Search" />
                <button (click)="toggleCreateGroup()" *ngIf="!showCreateGroup"
                    class="create-btn btn btn-primary btn-sm"><i class="fa fa-plus mr-5"></i>Create
                    Group</button>
                <button (click)="discardCreateGroup()" *ngIf="showCreateGroup"
                    class="discard-btn btn btn-warning btn-sm"><i
                        class="fa fa-trash mr-5"></i>Discard</button>
                <button (click)="submitCreateGroup()" *ngIf="showCreateGroup"
                    class="create-btn btn btn-primary btn-sm"><i
                        class="fa fa-save mr-5"></i>Create</button>
              </div>
              <div *ngIf="!showCreateGroup">Identity Group List</div>
              <div *ngIf="showCreateGroup">Create Identity Groups</div>
            </div>
            <div class="tab-pane" id="allusers">
              <div class="panel-btns">
                <input type="text" class="idty-search" placeholder="Search" />
                <button (click)="toggleCreateIdentity()" *ngIf="!showCreateIdentity"
                    class="create-btn btn btn-primary btn-sm"><i class="fa fa-plus mr-5"></i>Create
                    Identity</button>
                <button (click)="discardCreateIdentity(); idCreate.resetForms()" *ngIf="showCreateIdentity"
                    class="discard-btn btn btn-warning btn-sm"><i
                        class="fa fa-trash mr-5"></i>Discard</button>
                <button (click)="idCreate.submitCreateIdentity()" *ngIf="showCreateIdentity"
                    class="create-btn btn btn-primary btn-sm"><i
                        class="fa fa-save mr-5"></i>Create</button>
              </div>
              <div *ngIf="!showCreateIdentity">
                <app-identity-list 
                  [identities]="identities$ | async" 
                  (identityDeleted)="onIdentityDeleted($event)"
                  (selectedIdentity)="selectIdentity($event)"
                  (selectedIdentityGroup)="selectIdentityGroup($event)"
                  ></app-identity-list>
              </div>
              <div [hidden]="!showCreateIdentity">
                <app-identity-create #idCreate (submitCreate)="resetForms()"></app-identity-create>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="!showDetailView" class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
      <app-identity-detail [hidden]="!showIdtyDetail" [displayIdentity]="displayIdentity$ | async"></app-identity-detail>
      <app-identity-group-detail [hidden]="!showIdtyGroupDetail"  [displayIdentityGroup]="displayIdentityGroup$ | async"></app-identity-group-detail>
    </div>
  </div>
</section>