<div (click)="emitGetIdentities(group); emitGetChildren(group)" class="panel panel-default">
    <div class="panel-heading clickable collapsed" data-toggle="collapse" [attr.data-target]="'#' + formatIdTag(group.name)" data-parent="#groupAccordion1">
        <div class="avatar-circle avatar-circle-sm"><i class="fas" [ngClass]="{'fa-users': !group.parentGroup, 'fa-user-friends': group.parentGroup}"></i></div>&nbsp;
        <div class="group-title">
            <h6>{{group.name}}&nbsp;<span>({{group.numUsers}})</span></h6>
            <div>CREATED: {{group.created | date : 'longDate'}}</div>
        </div>
        <div class="panel-heading-addons pull-right">
            <span class="code-info code-info-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" [attr.data-content]="group.loginsRequired + ' identities required for login'">
                <i class="fas fa-check-double"></i>
            </span>
            <span *ngIf="group.ldapVerify" class="code-info code-info-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="LDAP enabled">
                <i class="fa fa-users"></i>
            </span>
            <span *ngIf="!group.ldapVerify" class="code-info code-info-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="LDAP disabled">
                <i class="fa fa-users"></i>
            </span>
            <span *ngIf="group.otpEnabled" class="code-info code-info-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="One-time password enabled">
                <i class="fa fa-ellipsis-h"></i>
            </span>
            <span *ngIf="!group.otpEnabled" class="code-info code-info-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="One-time password disabled">
                <i class="fa fa-ellipsis-h"></i>
            </span>
            <span *ngIf="group.active" class="code-info code-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Status: Active">Active</span>
            <span *ngIf="!group.active" class="code-info code-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Status: Inactive">Inactive</span>
        </div>
    </div>
    <div class="panel-heading-buttons">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default panel-heading-view-btn" type="button"><i class="fa fa-eye"></i></button>
            <button class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li></li>
            </ul>
        </div>
    </div>
</div>
<div class="collapse" [attr.id]="formatIdTag(group.name)">
    <div class="panel-body identity-list">
        <div class="title">Identities</div>
        <ul class="list-group">
            <li *ngFor="let identity of group.identities" class="list-group-item">
                <div class="expanded-name-link"><span class="name-circle">{{identity.username | initials}}</span>{{identity.username}}&nbsp;</div>
                <div class="expanded-icons">
                    <span class="code-info code-default">
                        Last login: {{identity.lastLogin | date: mediumDate}}
                    </span>
                    <span *ngIf="group.otpEnabled" class="code-info code-success toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="One-time password enabled">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <span *ngIf="!group.otpEnabled" class="code-info code-danger toggle-popover" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="One-time password disabled">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                </div>
                <div class="btn-group btn-group-sm pull-right">
                    <a (click)="emitSelectIdentity(identity)" class="btn btn-default fa-eye-btn" role="button"><i class="fa fa-eye"></i>
                        <span class="hidden"></span>
                    </a>
                    <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <!-- <li><a href="#"><i class="fa fa-plus icon-right"></i>Add identity to group</a></li> -->
                        <li><a (click)="emitDeleteIdentity(identity, i); emitGetIdentities(group)"><i class="fa fa-trash icon-right"></i>Delete identity</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div *ngFor="let child of group.childGroups" class="child-group">
    <app-identity-group-list-item 
        [group]="child"
        (getChildren)="emitGetChildren($event)"
        (getIdentities)="emitGetIdentities($event)">
    </app-identity-group-list-item>
</div>