<div class="row">

  <div class="col-md-3 col-sm-12 col-xs-12 edit-group-tab">
    <ul class="nav nav-pills nav-stacked">
      <li class="active nav-item"><a href="#userEditTab1" data-toggle="pill">General</a></li>
      <li class="nav-item"><a href="#userEditTab2" data-toggle="pill">Personalize</a></li>
      <li class="nav-item"><a href="#userEditTab3" data-toggle="pill">Password</a></li>
      <li class="nav-item"><a href="#userEditTab4" data-toggle="pill">OAuth</a></li>
      <li class="nav-item"><a href="#userEditTab5" data-toggle="pill">One-time password</a></li>
      <li class="nav-item"><a href="#userEditTab6" data-toggle="pill">Biometric</a></li>
    </ul>
  </div>
  
  <div class="col-md-9 col-sm-12 col-xs-12 tab-content edit-forms">
    <div class="tab-pane fade active in" name="general-tab" id="userEditTab1">
      <form>
        <div class="list-group">

          <div class="list-group-item">
            <span class="list-group-title">Identity username</span>
            <span class="user-input">
              <input type="text" class="form-control" placeholder="Username">
            </span>
          </div>

          <div class="list-group-item">
            <span class="list-group-title">Identity password</span>
            <span class="user-input">
              <input type="text" class="form-control" placeholder="Password">
            </span>
          </div>

          <div class="list-group-item">
            <span class="list-group-title">Repeat identity password</span>
            <span class="user-input">
              <input type="text" class="form-control" placeholder="Repeat password">
            </span>
          </div>

          <div class="list-group-item">
            <span class="list-group-title">Allow password login</span>
            <div class="checkbox checkbox-switch switch-primary">
              <label><input type="checkbox" name="" checked=""><span></span></label>
            </div>
          </div>

          <div class="list-group-item">
            <span class="list-group-title pull-left">Register
              authenticator</span>

            <div class="qrcode-image-collapse qrcode-image-short collapse fade active in">
              <a class="btn btn-default btn-sm pull-right btn-wide" data-toggle="collapse" data-target=".qrcode-image-collapse">Register</a>
            </div>

            <div class="qrcode-image-collapse collapse fade qrcode-upload">
              <div class="pull-right">
                <code class="code-default">8675309</code>
              </div>
            </div>

          </div>

        </div>
      </form>
    </div>
    <div id="userEditTab2" class="tab-pane fade">
      <form #personalizeForm="ngForm" novalidate>
        <div class="list-group" [ngModelGroup]="userDetails">
          <div class="list-group-item">
            <span class="list-group-title">First name</span>
            <span class="user-input">
              <input type="text" class="form-control" placeholder="First name" [(ngModel)]="userDetails.personalInfo.firstName" name="personalInfo_firstName" #firstName="ngModel" required>
              <div class="txt-rd-light" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                <div *ngIf="firstName.errors.required">
                  First name is required
                </div>
              </div>
            </span>
          </div>

          <div class="list-group-item">
            <span class="list-group-title">Last name</span>
            <span class="user-input">
              <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="userDetails.personalInfo.lastName" name="personalInfo_lastName" #lastName="ngModel" required>
              <div class="txt-rd-light" *ngIf="lastName.invalid && lastName.touched">Last name is required</div>
            </span>
          </div>

          <div class="list-group-item">
            <span class="list-group-title">Common name</span>
            <span class="user-input">
              <input type="text" class="form-control" placeholder="Nickname" [(ngModel)]="userDetails.personalInfo.commonName" name="personalInfo_commonName" #commonName="ngModel" required>
              <div class="txt-rd-light" *ngIf="commonName.invalid && commonName.touched">Common name is required</div>
            </span>
          </div>

          <div class="list-group-item">
            <span class="list-group-title">Username</span>
            <span class="user-input">
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="userDetails.username" name="personalInfo_username" required #username="ngModel">
              <div class="txt-rd-light" *ngIf="username.invalid && username.touched">Username is required</div>
            </span>
          </div>

          <div class="list-group-item">
            <span class="list-group-title">Email</span>
            <span class="user-input">
              <input type="text" class="form-control" placeholder="Email" [(ngModel)]="userDetails.personalInfo.email" name="personalInfo_email" #email="ngModel" required>
              <div class="txt-rd-light" *ngIf="email.invalid && email.touched">Email is required</div>
            </span>
          </div>
          <div class="list-group-item">
            <span class="list-group-title">Mobile phone number</span>
            <span class="user-input">
              <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="userDetails.personalInfo.phone" name="personalInfo_phone" #phone="ngModel" required>
              <div class="txt-rd-light" *ngIf="phone.invalid && phone.touched">Phone number is required</div>
            </span>
          </div>

          <div class="list-group-item">
            <span class="list-group-title">Mobile phone carrier</span>
              <div class="dropdown">
                <select class="form-control dropdown-toggle btn btn-default btn-sm" id="carrier" [(ngModel)]="userDetails.personalInfo.mobileCarrier" name="personalInfo_carrier" #carrier="ngModel" required>
                  <option value="">Select</option>
                  <option *ngFor="let carrier of carriers" value={{carrier}}>{{carrier}}</option>
                </select>
                <div class="txt-rd-light" *ngIf="carrier.invalid && carrier.touched">Personal info is required</div>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
